.services .card-body i {
  font-size: 4.5rem;
}

/* === responsive css === */

@media only screen and (min-width: 768px) and (max-width: 990px) {
  .tarjeta {
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .tarjeta {
    padding-bottom: 20px;
  }
}
