.section {
  width: 100vw;
  background-color: #00254d;
}

.navBarU {
  width: 100vw;
  text-align: center;
}

.buttonContactU {
  color: #fff;
  border-radius: 5%;
  padding: 0 0.6rem 0.2rem 0.5rem;
  background-color: transparent;
  border-color: #fff;
  border-style: solid;
}

.buttonContactU:hover {
  color: #00254d;
  border-radius: 5%;
  background-color: #fff;
  border-style: solid;
  transition: 0.45s;
}

h5 {
  font-size: 15px;
  text-transform: uppercase;
}

.w-100 {
  height: 100vh;
}

/* === responsive css === */
