.FormContainerU {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8.5px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.contactU {
  text-align: center;
  padding: 1rem;
  font-weight: bold;
}

.inputU {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 1rem;
  border: none;
  color: #ffff;
  outline: none;
}

.inputU:focus {
  display: inline-block;
  box-shadow: 0 0 0 0.2rem #93b504;
  backdrop-filter: blur(12rem);
  border-radius: 1rem;
}

.txtAreaU {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 0.5rem;
  border: none;
  color: #ffff;
  outline: none;
  height: 6rem;
  width: 100%;
  resize: none;
}

.txtAreaU:focus {
  display: inline-block;
  box-shadow: 0 0 0 0.2rem #93b504;
  backdrop-filter: blur(12rem);
  border-radius: 0.5rem;
}

.contactBtnU {
  text-align: center;
  padding: 1rem;
  padding-bottom: 2rem;
}

.BtnU {
  background-color: #93b504;
  padding: 0.5rem;
  border-radius: 5%;
  width: 45%;
  border-radius: 10px;
  border-color: #fff;
  border-style: solid;
  color: #fff;
}
